/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/

  :root {
    --header-height: 3rem;
    --font-semi: 600;
  
    /* Dark Mode Colors */
    --hue-color: 224;
    --first-color: hsl(var(--hue-color), 50%, 60%); /* Accent color blue */
    --background-color: hsl(var(--hue-color), 15%, 15%); /* Background color blackish */
    --text-color: hsl(var(--hue-color), 90%, 95%); /* Primary text color */
  
    /* Font and typography */
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
  
    /* Margins */
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  
    /* Z-index */
    --z-back: -10;
    --z-fixed: 100;
  }
  
  .footer__icon,
  .footer__title,
  .footer__social {
    color: var(--text-color);
  }
  

/* Define party mode styles */
.party-mode .home__title-color {
  animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
  0% { color: var(--party-first-color); }
  25% { color: var(--party-second-color); }
  50% { color: var(--party-third-color); }
  100% { color: var(--party-fourth-color); }
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}


body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--background-color);
}

html {
  scroll-behavior: smooth;
  /* background-color: var(--first-color); */
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}


.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--background-color);
  box-shadow: var(--text-color);
}


/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--text-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 30%;
  width: 260px;
}

.home__blob {
  width: 300px;
  height: 300px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.home__blob-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%; /* Ensures the image matches the circular blob shape */
}


/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--text-color);
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.about {
  margin: 0 auto;
  padding: 1rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.about__container {
  display: flex;
  flex-direction: column; /* Ensure vertical alignment for stacked content */
  justify-content: center;
  align-items: center;
  row-gap: 2rem; /* Keep spacing between items */
  text-align: center;
}


.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}

.about__text {
  padding-bottom: 40px;
  max-width: 600px;
}
/* ===== WORK =====*/
.work__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding-top: 2rem;
  align-items: stretch;
}

.work__card {
  position: relative;
  background-color: hsl(var(--hue-color), 15%, 20%); /* Darker shade for the background */
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.work__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(14, 36, 49, 0.2);
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work__description {
  flex-grow: 1;
  padding: 1rem;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--first-color);
  text-align: center;
  max-height: 40em; /* Optional: Limit to approx 3 lines */
  overflow: hidden;
  border-radius: 0 0 0.5rem 0.5rem; /* Matches card border radius at bottom */
}

.work__badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px 10px;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi);
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--text-color);
  outline: none;
  margin-bottom: var(--mb-4);
  background-color: hsl(var(--hue-color), 15%, 25%); /* Slightly lighter than the form background */
  color: var(--text-color);
}

.contact__input:focus {
  border-color: var(--first-color); /* Highlight border on focus */
  outline: none; /* Remove default outline */
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

.contact__form {
  width: 360px;
  padding-top: 2rem;
  color: hsl(var(--hue-color), 15%, 20%); /* Darker background */
}
.contact__container {
  justify-items: center;
  color: var(--text-color);
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--first-color);
  color: var(--text-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* Extra Small Devices (Portrait Phones) */
/* max-width: 575.98px */
@media (max-width: 575.98px) {
  .home {
    row-gap: 2rem;
  }
  
  .home__img {
    width: 200px;
    top: 60%;
  }

  .home__blob {
    width: 200px;
    height: 200px;
    right: 50%;
  }
}

/* Small Devices (Landscape Phones) */
/* min-width: 576px and max-width: 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .home {
    padding: 4rem 0 2rem;
  }
  
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  
  .home__img {
    width: 300px;
    bottom: 25%;
    top: auto;
  }
  
  .home__blob {
    width: 240px;
    height: 240px;
  }
  
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }

}

/* Medium Devices (Tablets) */
/* min-width: 768px and max-width: 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    margin: 0;
  }
  
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  
  .section-title {
    margin-bottom: var(--mb-6);
  }
  
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  
  
  .home {
    padding: 8rem 0 2rem;
  }
  
  .home__img {
    width: 400px;
    bottom: 10%;
    top: auto;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

/* Large Devices (Desktops) */
/* min-width: 992px */
@media (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  
  .home {
    padding: 10rem 0 2rem;
  }
  
  .home__img {
    width: 450px;
  }
}
